/* GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

a{
  text-decoration: none;
  color: white;
}

@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    background-image: linear-gradient(180deg, #051f39, #63074c );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke
}

main{
    flex: 1;  
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* LOADING - SPINNER*/

.spinner {
 position: fixed;
 display: none;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 justify-content: center;
 align-items: center;
 width: 300px;
 height: 300px;
}

.spinner-sector{
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 15px solid transparent;
    mix-blend-mode: overlay;
}

.spinner-sector-blue{
    animation: rotate 2s ease-out infinite;
    border-top: 15px solid lightblue;
}

.spinner-sector-red{
    animation: rotate 2.5s ease-in infinite;
    border-top: 15px solid lightcoral;
}

.spinner-sector-green{
    animation: rotate 1.5s ease-out infinite;
    border-top: 15px solid lightgreen;
}

@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

.spinnerText{
    animation: loading-opacity 4s ease-in-out infinite;
    font-size: 2rem;
    color: whitesmoke;
}

@keyframes loading-opacity {
    0%, 100% { opacity: 1;}
    25%, 75% { opacity: 0.5;}
    50%{ opacity: 0.1;}
}


/* HEADER */
header {
    height: 80px;
    width: 100%;
    display: flex; 
    justify-content: center; 
}

nav {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.navLogo{
    display: flex;
    gap:4px;
    align-items: center;
}

.navLogo img{
    height: 48px;
}

.navLogo span {
    font-size: 1.5rem;
}

input:focus{
    outline: none;
}
input{
    padding-left: 5px;
    height: 24px;
    width: 130px;
}

/* MAIN*/
.pokeContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 24px;
    max-width: 1440px;
}

.pokeCard{
    width: 300px;
    background-color: rgb(38, 54, 103);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:16px 0;
    margin: 8px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
   rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
   rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nameContainer{
    display: flex;
    width: 90%;
    margin-bottom: 8px;
    gap: 30%;
}

.pokeTitle{
  font-size: 1.2rem;
}

.imageBg{
    width: 100%;
    margin-bottom: 10px;    
    cursor: pointer;
}

.pokeImg{
    width: 90%;
    transition: transform 0.3s ease;
}

.pokeImg:hover{
    transform: scale(1.1);
}

.icon{
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 70px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
   rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
   rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
}

.morePoke{
    background: #051f39;
    font-size: 1.1rem;
    width: 180px;
    height: 48px;
    color: white;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

.morePoke:disabled {
  opacity: 0;
  cursor: not-allowed;
}

/* FOOTER */
footer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    gap: 4px;
}

.footerContainer img{
    height: 24px;
}

.footerContainer span{
    color: white;
}


/* POP-UP */
dialog{
    width: 550px;
    height: 850px;
    background-color: #051f39;
    border-radius: 40px;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body:has(dialog[open]) {
    overflow: hidden;
}
 
.popUpCard{
    color: white;
    width: 100%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popUpTitle{  
    font-size: 2rem;
    margin-bottom: 8px;
}

.popUpImageBg{
    width: 100%;
    height: 420px;
    margin-bottom: 14px;    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokePopUpImg{
    width: 90%; 
}

.pokeInfos{
    width: 100%;
    height: 200px;
    margin-top: 16px;
    background-color: #0c3660; 
}

.tabs{
    display: flex;
}

.tab{
    border: none;
    flex: 1;
    padding: 10px;
    background-color: #215b95;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.tab.active{
    border:none;
    border-bottom: 4px solid  #63074c;
    filter: brightness(1.1);
}

.info {
    display: none;
    margin-top: 8px;
    padding: 10px 40px;  
    width: 100%;  
}

.info li {
    padding-bottom: 5px;
    display: flex;
}

.info.active{
    display: flex;
    flex-direction: column;
}

.label {
    color: whitesmoke;
    font-weight: 500;
    width: 150px;
}

.value {
    flex: 1;
}

.stat-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar{
    width: 200px;
    height: 12px;
    background: #215b95;;
    border-radius: 5px;
    border: 2px solid #26031d ;
    overflow: hidden;
}

.fill{
    height: 100%;
    background: #63074c;
    width: 0%;
    transition: width 0.3s ease;
}

.evolutionContainer{
    display:none;
}
.evolutionContainer.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.evoCard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.evoImg {
    width: 80px;
    height: 80px;
}

.evoArrow {
    width: 24px; 
}

.arrows {
    display: flex;
    gap: 32px;
    padding: 20px;
}

.arrows button {
    border-radius: 50px;
    border: none;
    background-color: #63074c;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
}

.arrows button img{
    height: 48px;
    width: 48px;
}


@media (max-width: 450px){

    dialog{
        width: 100%;
        height: 650px;
    }
    
    .popUpTitle{  
        font-size: 1.5rem;
    }

    .popUpImageBg{
        width: 100%;
        height: 250px;
    }

    .pokePopUpImg{
        width: 70%; 
    }

    .evolutionContainer.active{
        gap: 8px;
    }

    .evoImg {
        width: 70px;
        height: 70px;
    }

    .evoArrow {
        width: 16px; 
    }

    .arrows {
        display: flex;
        gap: 32px;
        padding: 20px;
    }

    .arrows button img{
        height: 32px;
        width: 32px;
    }
}

@media (max-width: 400px){

    .evoImg {
        width: 60px;
        height: 60px;
    }

    nav {
        flex-direction: column;
        gap: 8px;
    }

    .label {
        width: 150px;
    }

    .bar{
        width: 100px
    }
}    

@media (max-width: 380px){

    .pokeContainer{
        padding: 20px 2px 20px 10px;
    }

    .info {
    margin-top: 2px;  
    }
 
    .label {
        width: 130px;
    }

    .bar{
        width: 100px
    }
}    

@media (max-width: 330px){

    .label {
        width: 120px;
    }

    .bar{
        width: 20px
    }

    .evolutionContainer.active{
        gap: 2px;
    }

    .evoArrow {
        width: 8px; 
    }
}    

